.delete-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164); */
    cursor: pointer;
    transition-duration: 0.5s;
    overflow: hidden;
    position: relative;
  }
  
  .delete-svgIcon {
    width: 15px;
    transition-duration: 0.5s;
  }
  
  .delete-svgIcon path {
    fill: white;
  }
  
  .delete-button:hover {
    width: 40px;
    border-radius: 50px;
    transition-duration: 0.5s;
    background-color: rgb(255, 69, 69);
    align-items: center;
    margin-top: 3px;
    margin-right: 3px;
  }
  
  .delete-button:hover .delete-svgIcon {
    width: 20px;
    transition-duration: 0.5s;

  }
  
  
  .delete-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.5s;
  }

  /* From Uiverse.io by aaronross1 */ 
.edit-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164); */
    cursor: pointer;
    transition-duration: 0.5s;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
  }
  
  .edit-svgIcon {
    width: 15px;
    transition-duration: 0.5s;
  }
  

  .edit-svgIcon path {
    fill: white;
  }
  
  .edit-button:hover {
    width: 40px;
    border-radius: 50px;
    transition-duration: 0.5s;
    background-color: #F4AC45;
    align-items: center;
    margin-top: 3px;
    margin-left: 3px;
  }
  
  .edit-button:hover .edit-svgIcon {
    width: 20px;
    transition-duration: 0.5s;

  }
  

  
  .edit-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.5s;
  }
  