package templates

templ ModalBodyServicesComponent(namespace string, services []string) {
	<div class="flex justify-center">
		<ul id="steps-htmx" class="steps steps-vertical lg:steps-horizontal">
			<li class="step step-success">Select a Namespace</li>
			<li class="step step-success">Select a Service</li>
			<li class="step">Settings</li>
		</ul>
	</div>
	<div class="divider divider-neutral"></div>
	@ServicesComponent(namespace, services)
}
